.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   border-style: ridge;
   border-color: rgb(0, 255, 170);
}
.heading{
    font-weight: bold;
    font-size: 25px;
}
button{
    width: 215px;
    height: 40px;
}